.footer {
	float: right; 
	color: #0a2240;
}

.site_header {
	text-align: center; 
}

.site_footer {
	font-family: 'Poiret One', cursive;
}

.information {
	float: left; 
}


div {
  background-image: url("background.png");
  background-position: 20px 10px;  
  background-repeat: no-repeat;
  
}




.site_wrap {
	width: 85%;
  	margin: 0 auto;
	background-color: rgba(127, 134, 104, .50);
	padding: 0.6em;
	overflow: hidden;
}

.branding {
	text-align: center;
}




.site_nav {
		font-family: 'Poiret One', cursive;
		text-align: center;
		line-height: 3em;
		border-radius: 6px;	
		background-color: rgba(173, 173, 143, .70);
		padding: 0.5em;
		
	}


		.site_nav li {
		display: inline-block;
	}
	
	.site_nav li + li {
		margin-top: 0;
		margin-left: 1em;
	}
	

.container {
	text-align: center;
	width: 85%;
	margin: 0 auto;
	padding: 20px;
	font-family: 'Poiret One', cursive; color: #220c04; 
}

h2 {
	color: #0a2240;
}

a:link {
color: #220c04;
}



.map-wrap { 
	position: relative;
	padding-top: 75%;
}

.map-wrap iframe { 
	position: absolute;
	top: 0;
	left: 0; 
	width: 80%; 
	height: 60%;
}



@media screen and (max-width: 29.9em) {

	.site_footer .map {
		display: absolute;
		
	}
	
	




